__pycache__/
.pytest_cache/
.mypy_cache/
.DS_Store
build/
dist/
alpha/
result/
.cache/
.eggs/
*.egg-info/
.ipynb_checkpoints
.coverage
.coverage.*
coverage.xml
.vscode
.idea
.venv
venv/*
*.out
data/**
.data/**
results/**
*.err
*.log
*.out